.global {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 10px;
}

.bar {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.container {
  border: 1px solid var(--mantine-color-gray-3);
  padding: 20px;
  border-radius: 4px;
  width: 100%
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
  padding: 15px 10px;
  overflow: visible;
}